name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  macOS:
    name: Test
    runs-on: macOS-15
    steps:
      - uses: actions/checkout@v6
      - name: Display tuist commands in macOS
        run: swift package --disable-sandbox tuist