name: Check GitHub Release

on:
  schedule:
    # Daily at 8:20 UTC and 20:20 UTC
    - cron: '20 8,20 * * *'
  # Enables manually running this workflow from the Actions tab
  workflow_dispatch:

jobs:
  check:
    name: Check GitHub Release
    runs-on: ubuntu-slim
    env:
      BINARY_NAME: tuist
      BINARY_REPO: tuist/tuist
      PLUGIN_REPO: 21-DOT-DEV/swift-plugin-tuist
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SEMANTIC_VERSIONING_REGEX: "^[v]?[0-9]+\\.[0-9]+\\.[0-9]+$"
    outputs:
      BINARY_NAME: ${{ env.BINARY_NAME }}
      BINARY_REPO: ${{ env.BINARY_REPO }}
      BINARY_VERSION: ${{ steps.two.outputs.BINARY_VERSION }}
      PLUGIN_VERSION: ${{ steps.one.outputs.PLUGIN_VERSION }}
    steps:
      - name: Get current plugin version
        id: one
        run: |
          PLUGIN_RELEASE=$(gh release list -R ${{ github.repository }} -L 10 --json tagName,publishedAt \
            --jq 'map(select(.tagName | test(env.SEMANTIC_VERSIONING_REGEX))) | sort_by(.publishedAt) | reverse | .[0].tagName')
          echo "PLUGIN_VERSION=$PLUGIN_RELEASE" >> $GITHUB_OUTPUT
      - name: Get current binary version
        id: two
        run: |
          BINARY_RELEASE=$(gh release list -R ${{ env.BINARY_REPO }} -L 10 --json tagName,publishedAt \
            --jq 'map(select(.tagName | test(env.SEMANTIC_VERSIONING_REGEX))) | sort_by(.publishedAt) | reverse | .[0].tagName')
          echo "BINARY_VERSION=$BINARY_RELEASE" >> $GITHUB_OUTPUT
      - name: Trigger artifact publish workflow
        if: ${{ steps.one.outputs.PLUGIN_VERSION != steps.two.outputs.BINARY_VERSION }}
        run: |
          gh workflow run .github/workflows/publish-artifact-bundle.yml \
            --ref "$GITHUB_SHA" \
            --field binary_name="${{ env.BINARY_NAME }}" \
            --field binary_repo="${{ env.BINARY_REPO }}" \
            --field binary_version="${{ steps.two.outputs.BINARY_VERSION }}" \
            --field plugin_repo="${{ github.repository }}"
